body {
    font-family: 'Courier New', Courier, monospace;
}

nav {
    float: left;
    width: 15%;
}

main {
    float: left;
    width: 70%;
}

aside {
    float: left;
    width: 15%;
}

aside img {
    width: 100%;
}

#copyright {
    clear: both;
}